.footer {
  height: 10rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
  vertical-align: baseline;
}

.footer__container{
    display: flex;
    flex-direction: column;
}

.footer__container__links{
  margin-bottom: 1rem;
}

.footer__container__links i {
  color: rgb(200, 190, 190);
  font-size: 2rem;
  border-radius: 0.3;
  letter-spacing: 1rem;
  padding: 1rem;
}
.footer__container__links i:hover {
  color: #0250c9;
}

.footer p {
  font-size: 1.6rem;
  margin: 1.3rem;
  color: rgb(177, 164, 164);
}


