.footer {
  padding: 0;
  width: 100%;
}

.footer__container{
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
}

.footer__container div i {
  color: rgb(200, 190, 190);
  font-size: 2rem;
  border-radius: 0.3;
  letter-spacing: 1rem;
  margin-right: 1rem;
}
.footer__container div i:hover {
  color: #0250c9;
}

.footer p {
  font-size: 1.6rem;
  margin: 1.3rem;
  color: rgb(177, 164, 164);
}


