.col-card{
  display: flex;
  justify-content: center;
}

.card{
  display: flex;
}

.col-card-item-first{
  width: 35%;
}

.col-card-item-second{
  width: 65%;
}

.modal-body p{
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.modal-body img{
  margin-right: 1.5rem;
}

.btn{
  width: 50%;
}

/* Mobile */
@media screen and (max-width: 360px) {
  .btn{
    width: 8.5rem;
    height: 2.2rem;
    font-size: smaller;
  }
  .col-card-item-first{
    width: 45%;
  }

  .col-card-item-second{
    width: 55%;
  }
}

/* Tablet*/
@media screen and (max-width: 768px) {
  .btn{
    width: 6rem;
    height: 2.2rem;
    font-size: smaller;
  }
}
