.col-card{
  display: flex;
  justify-content: center;
}

.card{
  display: flex;
}

.col-card-item-first{
  width: 35%;
}

.col-card-item-second{
  width: 65%;
}

.modal-body p{
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.modal-body img{
  margin-right: 1.5rem;
}

