<article class="card mat-card">
  <div id="experience">
    <div class="card-titles">
      <h2>Experiencia</h2>
      <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-plus"></i> <!--onclick="showNewExpModal()"-->></a>
      </div>
    </div>
    <div>
      <ul class="items-list" id="expList">
        <li>
          <div class="data-container">
            <a href="#">
              <div class="logo-image-container"><img id="exp-img" class="logo-image"
                  src="https://free-images.com/sm/4fef/transweb_logo_png.jpg"></div>
              <div class="list-info">
                <div>
                  <h3 id="exp-position">Backend Developer</h3>
                  <p><span id="exp-company">Pixar</span> - <span id="exp-mode">Jornada parcial</span></p>
                  <h4><span id="exp-initial">mar 2019</span> – <span id="exp-end">actualidad</span> - <span
                      id="exp-time">2 años y 6 meses</span></h4>
                  <h4 id="exp-place">Guadalajara y alrededores, México</h4>
                </div>
              </div>
            </a>
          </div>
          <div class="data-control">
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"
                  onclick="showEditExpModal('Pixar')"></i></a></div>
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-trash"></i>
              <!--onclick="deleteExp('Pixar')"-->></a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  </article>
