.col-card{
  display: flex;
  justify-content: center;
}

.card{
  display: flex;
}

.col-card-item-first{
  width: 35%;
}

.col-card-item-second{
  width: 65%;
}

.modal-body p{
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

.modal-body img{
  margin-right: 1.5rem;
}


.btn{
  width: 50%;
  margin-top: 0.5rem;
}

/* Mobile */
@media screen and (max-width: 450px) {
  .col-card-item-first{
    width: 45%;
  }

  .col-card-item-second{
    width: 55%;
  }

  .btn{
    width: 70%;
  }

}

/* Tablet*/
@media screen and (max-width: 768px) {
  .col-card-item-first{
    width: 40%;
  }

  .col-card-item-second{
    width: 60%;
  }

  .btn{
    width: 70%;
  }
}


