<article>
  <div class="card mat-card" id="first-card">
    <div id="profile-background">
      <img id="info-back-img" [src]="persona.image_background" />
    </div>

    <div id="info" style="padding: 16px">
      <div id="info-img">
        <img id="info-user-img" class="profile-image" [src]="persona.image" />
        <div *ngIf="usuarioAutenticado" class="btn-edit">
          <a href="#" class="btn-right"
            ><i class="fa fa-pen"></i>
            <!--onclick="showEditProfileModal()"--></a
          >
        </div>
      </div>

      <div class="card-titles">
        <div *ngIf="usuarioAutenticado" class="btn-edit">
          <button
            class="btn btn-right"
            data-bs-toggle="modal"
            data-bs-target="#modalEncabezado"
            (click)="nuevoDatosAcercaDe()"
          >
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div id="info-data">
        <div>
          <h1 id="info-name">{{ persona.fullname }}</h1>
          <div>
            <span id="info-position">{{ persona.position }}</span>
          </div>
          <div id="info-contact">
            <span id="info-ubication">{{ persona.ubication }}</span>
            <span><a href="#">Información de contacto</a></span>
          </div>
        </div>
      </div>
      <div *ngIf="usuarioAutenticado" id="info-actions">
          <button
            class="btn btn-right"
            data-bs-toggle="modal"
            data-bs-target="#modalEncabezado"
            (click)="mostrarDatosAcercaDe()"
          >
            <i class="fa fa-pen"></i>
          </button>
          <button class="btn btn-right" (click)="borrarDatosAcercaDe()">
            <i class="fa fa-trash"></i>
          </button>
      </div>
    </div>
  </div>
  <div class="card mat-card">
      <div class="card-titles">
        <h2>Acerca de</h2>
        <div class="btn-edit">
          <a href="#" class="btn-right">
            <i class="fa fa-pen"></i>
            <!--onclick="showEditAboutModal()"-->></a
          ></div>
        </div>
      <div id="about">
        {{ persona.about }}
      </div>
    </div>
</article>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEncabezado"
  tabindex="-1"
  aria-labelledby="tituloModalEncabezado"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModalEncabezado">
          Editar Encabezado
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div>
            <div class="mb-3">
              <label for="fullName" class="form-label">Apellido y Nombre</label>
              <input
                type="text"
                class="form-control"
                id="fullName"
                formControlName="fullName"
              />
              <div *ngIf="fullName?.invalid && fullName?.touched">
                <div *ngIf="fullName?.errors?.['required']" class="text-danger">
                  El apellido y nombre es requerido.
                </div>
                <div
                  *ngIf="fullName?.errors?.['minlength']"
                  class="text-danger"
                >
                  El apellido y nombre debe tener como mínimo 5 caracteres.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="position" class="form-label">Posición</label>
              <input
                type="text"
                class="form-control"
                id="position"
                formControlName="position"
              />
            </div>
            <div class="mb-3">
              <label for="ubication" class="form-label"
                >Lugar de residencia</label
              >
              <input
                type="text"
                class="form-control"
                id="ubication"
                formControlName="ubication"
              />
            </div>
            <div class="mb-3">
              <label for="url" class="form-label">Url de la imagen</label>
              <input
                type="text"
                class="form-control"
                id="url"
                formControlName="url"
              />
            </div>
            <div class="mb-3">
              <label for="about" class="form-label">Acerca de</label>
              <input
                type="text"
                class="form-control"
                id="about"
                formControlName="about"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
              />
            </div>
            <div class="mb-3">
              <label for="image_background" class="form-label">banner</label>
              <input
                type="text"
                class="form-control"
                id="image_background"
                formControlName="image_background"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              id="cerrarModalEncabezado"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Salir
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
