.botones{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.botones div{
  margin: 20px;
}

.largo-input{
  width: 60%;
}

.largo-input label{
  color: rgb(252, 188, 104);

}

.centrar{
display: inline-block;
justify-content: center;
align-items: center;
width: 100%;
padding: 80px;
}

.fondo{
  display: flex;
  align-items: center;
  margin-top: 8vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border: 5px solid #0250c9;
  border-radius: 50px;
  height: 500px;
  background-image: url("../../../assets/images/programming-language-at-workplace2.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
