<article class="card mat-card">
  <div class="card-titles">
    <h2>Proyectos</h2>
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-plus"></i> <!--onclick="showNewAchModal()"--></a>
    </div>
  </div>
  <div class="achivements">
    <ol class="items-list">
      <li>
        <h3>e-Farmacia s</h3>
        <div>
          Detalle de lo desarrollado
        </div>
      </li>
      <li>
        <h3>Portfolio web</h3>
        <div>
          Detalle de lo desarrollado
        </div>
      </li>
    </ol>
  </div>
</article>
