<article class="card mat-card">
  <div class="card-titles">
    <h2>Proyectos</h2>
    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-plus"></i> <!--onclick="showNewAchModal()"--></a>
    </div>
  </div>
  <div class="achivements">
    <ol class="items-list">
      <li *ngFor="let proyecto of proyectosList">
        <div class="data-container">
          <a href="#">
            <div class="list-info">
              <div>
                <h3 id="proye-name">{{proyecto.name}} </h3>
                <p>
                  <span id="proye-info">{{proyecto.info}}</span>
                </p>
              </div>
            </div>
          </a>
        </div>
        <!--
        <div *ngIf="isUserLogged" class="data-control">
          <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
          <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-trash"></i></a></div>
        </div>
        -->
      </li>
      </ol>
  </div>
</article>
