<header>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-logo-ap">
      <div class="logo-ap">
        <img src="../../../assets/images/APLogo-20-20.png" />
      </div>
      <h2>{{persona?.fullname}}</h2>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ms-4">
          <a href="https://www.facebook.com" class="nav-link waves-effect waves-light">
            <i class="grey-text fab fa-facebook-square fa-1x"></i>
          </a>
        </li>
        <li class="nav-item ms-4">
          <a href="https://www.instagram.com" class="nav-link waves-effect waves-light">
            <i class="grey-text fab fa-instagram fa-1x"></i>
          </a>
        </li>
        <li class="nav-item ms-4">
          <a href="https://www.twitter.com" class="nav-link waves-effect waves-light">
            <i class="grey-text fab fa-twitter fa-1x"></i>
          </a>
        </li>
      </ul>

      <button *ngIf="!usuarioLogeado" class="btn btn-outline-primary btn-lg my-2 my-sm-0"
        routerLink="/login">Login</button>
      <button *ngIf="usuarioLogeado" class="btn btn-outline-primary btn-lg my-2 my-sm-0"
        (click)="onLogOut()">Logout</button>
    </div>
  </nav>

</header>
