.collapse button{
  margin: 1rem;
}

.nav-item a:hover {
  color: #0250c9;
}

.navbar-brand{
  color: #0250c9;
  margin: 1rem;
}

.navbar{
  position: fixed;
  width: 100%;
}

.navbar-nav{
  font-size: 200%;
}

.logo-ap{
  width: 6rem;
  max-width: 6rem;
  border: 0.2rem solid #0250c9;
  border-radius: 20%;
}

.container-logo-ap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-logo-ap h2{
  color: #0250c9;
  font-size: 1.7rem;
  margin-left: 1.5rem;
}

.logo-ap img{
  display: block;
  width: 100%;
}

