<article class="card mat-card">
    <div class="card-titles">
      <h2>Skills & Tecnologías</h2>
      <div *ngIf="isAdmin" class="btn-edit">
        <button class="btn btn-right" data-bs-toggle="modal" data-bs-target="#aptitudesForm"
          (click)="onNuevaAptitudes()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div>
      <ul>
        <li *ngFor="let aptitudes of aptitudesList; let i = index">
          <div class="cards-categorias">
            <div class="tarjeta">
              <p>
                <span>{{ aptitudes.name }}</span>
              </p>
              <figure>
                <img src="../../../assets/images/c.svg" alt="">
              </figure>
              <div class="progress-centrar">
                <progress  value="{{aptitudes.progress}}" max="100">
                </progress>
              </div>
            </div>
          </div>

          <div *ngIf="isAdmin" class="data-control">
            <div class="btn-edit">
              <button class="btn btn-right" data-bs-toggle="modal" data-bs-target="#aptitudesForm"
                (click)="onEditarAptitudes(i)">
                <i class="fa fa-pen"></i>
              </button>
            </div>
            <div class="btn-edit">
              <button class="btn btn-right" (click)="onBorrarAptitudes(i)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

</article>
<!-- Modal -->
<div class="modal fade" id="aptitudesForm" tabindex="-1" aria-labelledby="aptitudesFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aptitudesFormLabel">
          Editar Experiencia
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div>
            <input type="hidden" name="id" formControlName="id" />
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="name" formControlName="name" />
            </div>

            <div class="mb-3">
              <label for="progress" class="form-label">Progreso</label>
              <input type="text" class="form-control" id="progress" formControlName="progress" />
            </div>
            <div class="mb-3">
              <label for="urlLogos" class="form-label">Logos de lenguajes de programacion</label>
              <input type="text" class="form-control" id="urlLogos" formControlName="urlLogos" />
            </div>

            <div class="modal-footer">
              <button type="button" id="cerrarModalEncabezado" class="btn btn-secondary" data-bs-dismiss="modal">
                Salir
              </button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
